<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather-cloud.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            This website is created by Hannah Lee Pei Wai. Weather forecast is provided by Weather Stack.
        </div>
        {{>footer}}
    </body>
</html>
